html {
  box-sizing: border-box;
}

*,
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
a,
li,
h2,
h3,
p,
b {
  text-decoration: none; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  text-align: center;
}
 
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* header-conteiner ===================*/
.underline {
  outline: 1px solid #ECECEC;
}

.header-nav {
  display: flex;
  align-items: center;
}

.block-logo {
  display: inline-block;
  margin-left: 15px;
}

.logo {
  display: inline-block;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 36px;
  position: relative;
}

.site-nav .activ {
  position: relative;
}

.site-nav .activ::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  color: black;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.navigation{
  margin-left: 86px;
}

.header-buttons {
  margin-left: auto;
}

.site-nav .item {
  padding: 32px 0;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
padding: 32px 0;
}

.header-buttons ul {
  display: flex;
}

.header-buttons .item {
  margin-right: 50px;
  position: relative;
}

.mail,
.phone {
  position: relative;
}

.mail::before {
  content: '';
  display: block;
  position: absolute;
  width: 16px;
  height: 12px;
  left: -26px;
  top: 5px;
  background-image: url(../images/envelope.svg);
  background-repeat: no-repeat;
}

.phone::before {
  content: '';  
  display: block;
  position: absolute;
  width: 10px;
  height: 15px;
  left: -16px;
  top: 3px;
  background-image: url(../images/smartphone.svg);
  background-repeat: no-repeat;
}

.header-buttons .item:last-child {
  margin-right: 15px;
}

.header-buttons a,
.site-nav {
  font-size: 14px;
}

.img-box-nav {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

/* hero ============================ */

.hero-contriner {
  display: block;
  position: relative;
  max-width: 1600px;
  height: 600px;
  background-image: 
  linear-gradient( to right, rgba(47, 48, 58, 0.8),rgba(47, 48, 58, 0.8)),
  url(../images/main_foto.jpg);
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 0 46px 0;
}

.button-hero {
  width: 200px;
  height: 50px;
  padding: 14px 20px 14px 20px;
  outline: 2px solid transparent;
  border-radius: 4px;
}

/* Преимущества features------*/

.is-hidden {
visibility: hidden;
position: absolute;
clip: rect(0 0 0 0);
width: 1;
height: 1;
margin: -1;
}

.features {
  padding: 94px 0;
  border-bottom: 1px solid #ECECEC;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
 }
 
 .par-txt {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
 }

.features ul {
  display: flex; 
}

/* .features-box-content > img {
  display: block;
  width: 270px;
  height: 120px;
} */

.features-box-content {
  margin-right: 30px;
}

.features-box-content::before {
  content: '';
  display: block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--background-color-command);

}

.features-box-content.icon-antena::before {
  background-image: url('../images/features/antena.svg');
}

.features-box-content.icon-clock::before {
  background-image: url('../images/features/clock.svg');
}
 

.features-box-content.icon-diagram::before {
  background-image: url('../images/features/diagram.svg');
}

.features-box-content.icon-astronaut::before {
  background-image: url('../images/features/astronaut.svg');
}

.features-box-content:last-child {
  margin-right: 0px;
}

.features-box-content:first-child {
  margin-left: 0px;
}

 /* Чем мы занимаемся doing --- */

.doing {
  padding-top: 94px;
}

.block-doing > ul {
  display: flex;
}

.block-doing-txt {
  display: block;
  margin-right: 30px;
}

.block-doing-txt:last-child {
  margin-right: 0px;
}

.position-block-doing {
  position: relative;
  margin-top: 50px;  
  border-radius: 4px;
  overflow: hidden;
}

.doing-txt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;
}

/* Наша команда--------- */

.list-command-box{
  display: flex;
  margin-top: 50px;
}

.command-box {
  display: block;
  width: 270px;
  margin-bottom: 94px;
  margin-right: 29px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  overflow: hidden;
}

.command-box::before {
  display: block;
  content: '';
  width: auto;
  height: 260px;
  background-color: lightslategray;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.command-box.employee-a::before{
  background-image: url('../images/comand/a.jpg');
}

.command-box.employee-b::before{
  background-image: url('../images/comand/b.jpg');
}

.command-box.employee-c::before{
  background-image: url('../images/comand/c.jpg');
}

.command-box.employee-d::before{
  background-image: url('../images/comand/d.jpg');
}

.command-box:last-child {
  margin-right: 0px;
}

.img-comand {
  display: block;
  width: 270px;
}

.command h2 {
  padding-top: 94px;
  margin-top: 94px;
}

.command h3 {
 text-align: center;
 margin-top: 28px;
}

.command p {
  text-align: center;
  margin-top: 10px;
}

.command-soc-link {
  display: block;
  margin-top: 15px;
  margin-bottom: 24px;
}

.command-soc-link > ul> li,
.footer-cammon > ul > li {
  margin-right: 11px;
}

.command-soc-link > ul> li > img,
.footer-cammon > ul > li > img,
.command-soc-link > ul> li > a,
.footer-cammon > ul > li > a,
.img-box {
  display: block;
  line-height: 0px;
}

.command-soc-link > ul> li:last-child,
.footer-cammon > ul > li:last-child {
  margin-right: 0;
}


.command-soc-link ul {
  display: flex;
  justify-content: center;
}

/* Постоянные клиенты ---- */

.clients h2 {
  margin-top: 94px;
}

.box-clietns {
  display: flex;
  margin-top: 50px;
}

.displayed {
  display: block;
}

.box-clietns > li {
  margin-right: 30px;
}

.box-clietns > li:last-child {
  margin-right: 0px;
} 

/* footer -------------- */

footer {
  margin-top: 94px;
}

.footer-conteiner > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 48px;
}

.footer-left > .logo {
margin-bottom: 9px;
} 
/* 
.footer-cammon {
}  */

.footer-cammon > ul {
  display: flex;
}

.mail-content,
.tel-content {
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: 1.6;
}

.mail-content {
  margin-bottom: 8px;
}

.subscribe > form {
  display: block;
}

.subscribe p {
  margin-bottom: 21px;
}

.logo,
.logowite {
 font-family: Raleway, sans-serif;
 font-size: 26px;
}

.map {
  font-size: 14px;
  line-height: 1.6; 
  font-style: normal;
  margin-bottom: 9px;
}

.subscribe,
.footer-cammon {
 font-size: 14px;
 line-height: 16px;
 text-transform: uppercase;
}

.subscribe .button {
  display: inline-block;
  position: relative;
  padding: 15px 62px 15px 29px;
  border: 2px solid transparent;
  border-radius: 4px;
}

.subscribe .button::after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  right: 28px;
  bottom: 12px;
  background-image: url(../images/icon-send.svg);
}

input[type=text] {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
  width: 350px;
  padding: 14px 0 16px 12px;
  color: rgba(255, 255, 255, 0.6);
  background-color: unset;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.subscribe input {
  margin-right: 10px;
}

.developed {
  font-size: 12px;
  text-align: center;
  margin-top: 21px;
  padding-bottom: 21px;
}

.footer-conteiner .conteiner {
  padding-bottom: 18px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);;
}

.soc-links {
  margin-right: 44px;
  margin-top: 21px;
}

.instafram {
  position: relative;}

.instafram::before {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/instagram.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.soc-links:hover:before  {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/instagram.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  background-position: center;
}

.twitter {
  position: relative;}

.twitter::before {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/twitter.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.twitter:hover:before  {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/twitter.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  background-position: center;
}

.facebook {
  position: relative;}

.facebook::before {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/facebook.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.facebook:hover:before  {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/facebook.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  background-position: center;
}

.linkedin {
  position: relative;}

.linkedin::before {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/linkedin.svg);
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
}

.linkedin:hover:before  {
  content: '';
  position: absolute;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  background: url(../images/linkedin.svg);
  background-color: #2196F3;
  background-repeat: no-repeat;
  background-position: center;
}
