html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.03em;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
a,
li,
h1,
h2,
h3,
p,
b {
  text-decoration: none; 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 36px;
  text-align: center;
}
 
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

/* header-conteiner -------------*/
.header-nav {
  display: flex;
  align-items: center;
}

header {
  border-bottom: 1px solid rgb(179, 178, 178);
}

.block-logo {
  display: inline-block;
  margin-left: 15px;
}

.logo {
  display: inline-block;
}

.site-nav {
  display: flex;
}

.site-nav .item {
  margin-right: 36px;
}

.navigation{
  margin-left: 86px;
}

.header-buttons {
  margin-left: auto;
}

.site-nav .item {
  padding: 32px 0;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.header-buttons ul {
  display: flex;
}

.header-buttons .item {
  margin-right: 50px;
}

.header-buttons .item:last-child {
  margin-right: 15px;
}

.mailtel,
.site-nav {
  font-size: 14px;

}

.img-box-nav {
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
}

.header-hero {
  text-align: center;
}

h1 {
  display: inline-block;
  margin-top: 200px;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin-top: 46px;
  margin-bottom: 200px;
  padding: 14px 20px 14px 20px;
  text-align: center;
  outline: 2px solid transparent;
  border-radius: 4px;
}

/* Преимущества features------*/

.features {
  padding-top: 94px;
  padding-bottom: 94px;
  border-bottom: 1px solid #ECECEC;
}

.features h3 {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 30px;
 }
 
 .par-txt {
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
 }

.features-groupe {
  display: flex; 
}

.features-box-content > img {
  display: block;
  width: 270px;
  height: 120px;
}

.features-box-content{
  margin-right: 30px;
}

.features-box-content:last-child {
  margin-right: 0px;
}

.features-box-content:first-child {
  margin-left: 0px;
}

 /* Чем мы занимаемся doing --- */

.doing {
  padding-top: 94px;
}

.block-doing > ul {
  display: flex;
}

.block-doing-txt {
  display: block;
  margin-right: 30px;
}

.block-doing-txt:last-child {
  margin-right: 0px;
}

.position-block-doing {
  position: relative;
  margin-top: 50px;  
  border-radius: 4px;
  overflow: hidden;
}

.doing-txt {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  border-radius: 0px 0px 4px 4px;
}

/* Наша команда--------- */

.list-command-box{
  display: flex;
  margin-top: 50px;
}

.command-box {
  display: block;
  width: 270px;
  height: 422px;
  margin-bottom: 94px;
  margin-right: 29px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.command-box:last-child {
  margin-right: 0px;
}

.img-comand {
  display: block;
  width: 270px;
}

.command h2 {
  padding-top: 94px;
  margin-top: 94px;
}

.command h3 {
 text-align: center;
 margin-top: 30px;
}

.command p {
  text-align: center;
  margin-top: 10px;
}

.command-soc-link {
  display: block;
  margin-top: 16px;
}

.command-soc-link > ul> li,
.footer-cammon > ul > li {
  margin-right: 11px;
}

.command-soc-link > ul> li > img,
.footer-cammon > ul > li > img,
.command-soc-link > ul> li > a,
.footer-cammon > ul > li > a,
.img-box {
  display: block;
  line-height: 0px;
}

.command-soc-link > ul> li:last-child,
.footer-cammon > ul > li:last-child {
  margin-right: 0;
}


.command-soc-link ul {
  display: flex;
  justify-content: center;
}

/* Постоянные клиенты ---- */

.clients h2 {
  margin-top: 94px;
}

.box-clietns {
  display: flex;
  margin-top: 50px;
}

.displayed {
  display: block;
}

.box-clietns > li {
  margin-right: 30px;
}

.box-clietns > li:last-child {
  margin-right: 0px;
} 

/* footer -------------- */

footer {
  margin-top: 94px;
}

.footer-conteiner > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 48px;
}

.footer-left > .logo {
margin-bottom: 9px;
} 
/* 
.footer-cammon {
}  */

.footer-cammon > ul {
  display: flex;
}

.mail-content,
.tel-content {
  font-size: 14px;
  font-weight: 400;
  display: block;
  line-height: 1.6;
}

.mail-content {
  margin-bottom: 8px;
}

.subscribe {
  display: block;
}

.subscribe > p {
  margin-bottom: 21px;
}

.logo,
.logowite {
 font-family: Raleway, sans-serif;
 font-size: 26px;
}

.map {
  font-size: 14px;
  line-height: 1.6; 
  font-style: normal;
  margin-bottom: 9px;
}

.subscribe,
.footer-cammon {
 font-size: 14px;
 line-height: 16px;
 text-transform: uppercase;
}

.subscribe > .button {
  display: inline-block;
  width: 200px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  text-align: center;
  vertical-align: bottom;
  border: 2px solid transparent;
  border-radius: 4px;
}

.iconsend {
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}

.developed {
  font-size: 12px;
  text-align: center;
  margin-top: 28px;
  padding-top: 18px;
  padding-bottom: 21px;
}

.developed {
  border-top: 1px solid rgba(255, 255, 255, 0.1);;
}
